.sidebar {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: $light;
    padding: 10px;
    img {
        height: 2rem;
        width: 2rem;
        @include lightFilter;
    }
    p {
        font-weight: 700;
        font-size: 2.5rem;
        padding-right: 27px;
    }
    &-options {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &-more {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
.option {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    &:hover {
        color: $blue;
        img {
            @include blueFilter;
        }
    }
}
