@import "colors";
@import "header";
@import "sidebar";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
main {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}
.header {
    background-color: $light;
    grid-column: 2/4;
    grid-row: 1;
}
.sidebar {
    background-color: $dark;
    grid-column: 1;
    grid-row: 1/4;
}
.projects {
    background-color: $grey;
    grid-column: 2/4;
    grid-row: 2/-1;
}
.news {
    background-color: $grey;
    grid-column: 3/4;
    grid-row: 2/-1;
}
